## python cache file
__pycache__ 

## python env
.venv

## Priv, Pubkey Data
NodeKeyPair.json

## saved Video
SavedVideo

## HLS List
hls_list.json

## SmartContract
SmartContract_data.json

## npm
node_modules
package-lock.json
package.json